#tablecart{
    min-height: 200px;
    text-align: center;
}
#details_compra{
    padding: 10px 20px;
}
#cart_wrapper{
    margin-bottom: 20px;
}
 th.td1.sorting{
    min-width: 230px;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
   
     margin: 15px 0;
} 
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    height: 32px;
	background: #fafaf6;
	box-sizing: border-box;
	-webkit-appearance: none;
	 -webkit-box-sizing: border-box;
    font: 14px/18px Arial, Helvetica, sans-serif;
	border: 1px solid #e5e5e4;
	padding: 7px 12px 7px;
	
}
.dataTables_filter label,.dataTables_length label{
    height: 32px;
    display: inline-table;
}
.dataTables_length label select{
    height: 32px;
    background: #fafaf6;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #92928d;
    font: 14px/18px Arial, Helvetica, sans-serif;
    border: 1px solid #e5e5e4;
    padding: 7px 12px 7px;
}

table.dataTable tfoot th, table.dataTable tfoot td{
    border-top: 1px solid #b7b7b6

}
table.dataTable.no-footer {
    border-bottom: 1px solid #b7b7b6;
    margin: 0 auto;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #b7b7b6
}  
table.dataTable td{
    padding: 8px;
}
/* 
 CRUD */

 #table_crud tr th:first-child,#table_crud tr th:nth-child(2){
     width: 20%;
 }
 #table_crud tr th:nth-child(3){
    width: 25%;
 }
 #table_crud tr th:nth-child(4){
    width: 20%;
 }
 /* #table_crud tr th:nth-child(5){
    width: 20%;
 } */