 <?php include('module/login/view/login.html') ?> 
<div id="contenido" class="content">
    <div class="container_12">
        <div >
            <div class="recoverpass">
					<h2>Cambiar Contraseña:</h2>
					<form id="newpass" name="newpass">
						<label class="pass">
							<input class="full-width has-padding has-border" type="text" placeholder="Contraseña:" name="password" id="password" />
							<span class="cd-error-message"></span>
						</label>
						<label class="pass">
							<input class="full-width has-padding has-border" type="text" placeholder="Repetir Contraseña:" name="rpassword" id="rpassword"/>
							<span class="cd-error-message"></span>

						</label>
						<p class="contactbtn">
								<button type="reset" class="btn">BORRAR</button>
								<button type="submit" class="btn">CAMBIAR</button>
						</p>
                    </form>
                    
    
            </div><!--div formulario -->
            
            </div><!--flex -->
        </div><!--container12 -->
 </div> <!--primer -->