<!-- <div class='club' ng-controller="clubruralCtrler"> -->
    <h2>Ofertas <span>{{site}}</span></h2>
    <div id ="inicioclub">
        <div class="grid" ng-repeat='homeclub in homesclub | limitTo:3' ng-model="club">
            <div class="text1 flex">{{homeclub.nombre}}</div>
            <br><img src={{homeclub.img}}><br>
            <span>Capacidad:   <span> {{homeclub.plazas}}</span>
            <br><span>Localidad:   <span> {{homeclub.localidad}}</span></span>
            <br><span>Provincia:   <span> {{homeclub.provincia}}</span></span>
            <br><span>Precio:   <span> {{homeclub.precio}}€</span></span></br>
            <div class="center"><a class="btn" href="{{homeclub.url}}" target="_blank">CLUBRURAL</a></div>
        </div>
    </div>
<!-- </div> -->