
<div id="contenido" class="content">
    <div class="container_12">
        <div class="flex3">
			<div id="mapa"></div>
            <div class="contact">
                    <h2>Donde estamos:</h2>
                    <div id="map"></div>
            </div>
            <div class="contact">
					<h2>Contacto:</h2>
					<form id="form" name="form">
						<label class="name">
							<input required ng-model="contact.inputName" type="text" placeholder="Name:" name="inputName" id="inputName" />
							<span class="cd-error-message" ng-show="form.inputName.$error.required && (form.inputName.$dirty || form.inputName.$touched)">El nombre es requerido</span>
						</label>
						<label class="email">
							<input required ng-model="contact.inputEmail" type="email" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" placeholder="E-mail:" name="inputEmail" id="inputEmail"/>
							<span class="cd-error-message" ng-show="form.inputEmail.$error.required && (form.inputEmail.$dirty || form.inputEmail.$touched)">El email es requiredo</span>
							<span class="cd-error-message" ng-show="form.inputEmail.$error.email">The email is not valid</span>

						</label>
						
						<label class="select">
							<select  required ng-model="contact.inputSubject" name="opcontact" id="inputSubject" id="inputSubject">
								<option disabled selected>Selecciona una opción</option>
								<option>Casas</option>
								<option>Reservas</option>
								<option>Propietarios</option>
								<option>Sugerencias</option>
								<option>Otros</option>
							</select>
							<!-- <span id="e_select" class="cd-error-message"ng-show="form.inputSubject.$error.required && (form.inputSubject.$dirty || form.inputSubject.$touched)">The subject is required</span>						 -->
						</label>
						<label class="message">
							<textarea required ng-model="contact.inputMessage" placeholder="Message:" name="inputMessage" id="inputMessage"></textarea>
							<span class="cd-error-message" ng-show="form.inputMessage.$error.required && (form.inputMessage.$dirty || form.inputMessage.$touched)">El mensaje es requerido</span>							
						</label>
						
						<p class="contactbtn">
								<button type="reset" class="btn">BORRAR</button>
								<button type="submit" class="btn" ng-show="form.inputName.$valid && form.inputEmail.$valid  && form.inputMessage.$valid"
								ng-click="SubmitContact()">ENVIAR</button>
						</p>
                    </form>
                    
    
            </div>
            
             </div>
    </div>
 </div> 
 <!-- <?php include('module/login/view/login.html') ?> -->