<div id="contenido" class="content">
    <div class="container_12">
        <div class="flex3">
			<div id="mapa"></div>
            <div class="contact">
                    <h2>Donde estamos:</h2>
                    <div id="map"></div>
            </div>
            <div class="contact">
					<h2>Contacto:</h2>
					<form id="form" name="form">
						<label class="name">
							<input required ng-model="contact.inputName" type="text" placeholder="Name:" name="inputName" id="inputName" />
							<span class="cd-error-message" ng-show="form.inputName.$error.required && (form.inputName.$dirty || form.inputName.$touched)">El nombre es requerido</span>
						</label>
						<label class="email">
							<input required ng-model="contact.inputEmail" type="email" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" placeholder="E-mail:" name="inputEmail" id="inputEmail"/>
							<span class="cd-error-message" ng-show="form.inputEmail.$error.required && (form.inputEmail.$dirty || form.inputEmail.$touched)">El email es requiredo</span>
							<span class="cd-error-message" ng-show="form.inputEmail.$error.email">The email is not valid</span>

						</label>
						
						<label class="select">
							<select  required ng-model="contact.inputSubject" name="opcontact" id="inputSubject" id="inputSubject">
								<option disabled selected>Selecciona una opción</option>
								<option>Casas</option>
								<option>Reservas</option>
								<option>Propietarios</option>
								<option>Sugerencias</option>
								<option>Otros</option>
							</select>
							<!-- <span id="e_select" class="cd-error-message"ng-show="form.inputSubject.$error.required && (form.inputSubject.$dirty || form.inputSubject.$touched)">The subject is required</span>						 -->
						</label>
						<label class="message">
							<textarea required ng-model="contact.inputMessage" placeholder="Message:" name="inputMessage" id="inputMessage"></textarea>
							<span class="cd-error-message" ng-show="form.inputMessage.$error.required && (form.inputMessage.$dirty || form.inputMessage.$touched)">El mensaje es requerido</span>							
						</label>
						
						<p class="contactbtn">
								<button type="reset" class="btn">BORRAR</button>
								<button type="submit" class="btn" ng-show="form.inputName.$valid && form.inputEmail.$valid  && form.inputMessage.$valid"
								ng-click="SubmitContact()">ENVIAR</button>
						</p>
                    </form>
                    
    
            </div>
            
             </div>
    </div>
 </div> 
 <!-- <?php include('module/login/view/login.html') ?> -->


 <!-- <script src="frontend/modules/contact/view/lib/bootstrap-button.js"></script> -->
<!-- <div class="container">
   <h3 class="tittle_agile_w3">Send Us Message</h3>
    <div class="heading-underline">
    <div class="h-u1"></div><div class="h-u2"></div><div class="h-u3"></div><div class="clearfix"></div>
  </div>
  <div class="agileinfo_mail_grids">
    <form id="form" name="form" class="form-contact">
      <span class="input input--chisato">


        <input required ng-model="contact.inputName" type="text" id="inputName" name="inputName" placeholder="" class="input__field input__field--chisato" dir="auto" maxlength="100">
        <label class="input__label input__label--chisato" for="inputName">
          <span class="input__label-content input__label-content--chisato" data-content="Name">Name</span>
        </label>
        <span class="text-danger" ng-show="form.inputName.$error.required && (form.inputName.$dirty || form.inputName.$touched)">The name is required</span>
      </span>

      <span class="input input--chisato">

        <input required ng-model="contact.inputEmail" type="email" id="inputEmail" name="inputEmail" 
        placeholder="" class="input__field input__field--chisato" maxlength="100" 
        ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
        <label class="input__label input__label--chisato" for="inputEmail">
          <span class="input__label-content input__label-content--chisato" data-content="Email">Email</span>
        </label>
            <span class="text-danger" ng-show="form.inputEmail.$error.required && (form.inputEmail.$dirty || form.inputEmail.$touched)">The email is required</span>
            <span class="text-danger" ng-show="form.inputEmail.$error.email">The email is not valid</span>


      </span>



      <span class="input input--chisato">
        <input required ng-model="contact.inputSubject" type="text" id="inputSubject" name="inputSubject" placeholder="" class="input__field input__field--chisato" dir="auto" maxlength="100">
        <label class="input__label input__label--chisato" for="inputSubject">
          <span class="input__label-content input__label-content--chisato" data-content="Subject">Subject</span>
        </label>
        <span class="text-danger" ng-show="form.inputSubject.$error.required && (form.inputSubject.$dirty || form.inputSubject.$touched)">The subject is required</span>
      </span>



      </span>

       <textarea required ng-model="contact.inputMessage" class="input-block-level" rows="4" id="inputMessage" name="inputMessage" placeholder="Your comment here..." style="max-width: 100%;" dir="auto"></textarea>
            <span class="text-danger" ng-show="form.inputMessage.$error.required && (form.inputMessage.$dirty || form.inputMessage.$touched)">The comment is required</span>


      <input class="btn btn-primary" type="submit" name="submit" id="submitBtn" value="Send"
               ng-show="form.inputName.$valid && form.inputEmail.$valid && form.inputSubject.$valid && form.inputMessage.$valid"
               ng-click="SubmitContact()"/>
    </form>
  </div>
</div>

<div class="services">
  <div class="container">
      <div class="w3ls_address_mail_footer_grids">
      <div class="col-md-4 w3ls_footer_grid_left con">
        <div class="wthree_footer_grid_left">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <p>3481 Melrose Place, Beverly Hills, <span>New York City 90210.</span></p>
      </div>
      <div class="col-md-4 w3ls_footer_grid_left con">
        <div class="wthree_footer_grid_left">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
        <p>+(000) 123 4565 32 <span>+(010) 123 4565 35</span></p>
      </div>
      <div class="col-md-4 w3ls_footer_grid_left con">
        <div class="wthree_footer_grid_left">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <p><a href="mailto:info@example.com">info@example1.com</a>
          <span><a href="mailto:info@example.com">info@example2.com</a></span></p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div> -->
