<div id="contenido" class="content">
    <div class="container_12">
    <div>
    
                <h3 class="botno">ACTUALIZAR CASA</h3>
    
    <form method="post" class="formcasa" name="formcasa" class="update" id="formcasa" autocomplete="on">
    <div id="datoscasa">
        <p>
            <label for="nombre" class="update">Nombre</label>
            <input name="nombre" id="nombre" type="text" placeholder="Nombre" value="{{data.name}}" readonly required/>
        </p>    
        <p>
            <label for="provincia" class="update">Provincia</label>
            <select class="full-width has-padding has-border provinciaprofile" ng-model="data.provi" name="provi" ng-model="data.provi" ng-options="provi.PRO for provi in provinces track by provi.PRO" ng-change="loadcity()" required>    
                <option value="" selected="selected">{{data.proviselected}}</option>
            </select>
            <span class="cd-error-message" ng-show="formcasa.provi.$error.required && (formcasa.provi.$dirty || formcasa.provi.$touched)">La provincia es requerida</span>
        </p>
        <p>
            <label for="localidad" class="update">Localidad</label>
            <select class="full-width has-padding has-border" name="selcity" id="selcity" ng-model="data.city" ng-options="item.DMUN50 for item in cities" required> 
                <option value="" selected="selected">{{data.cityselected}}</option>
            </select>
            <span class="cd-error-message" ng-show="formcasa.selcity.$error.required && (formcasa.selcity.$dirty || formcasa.selcity.$touched)">La ciudad es requerida</span>
        </p>
        <p>
            <label for="precionoche" class="update">Precio por noche</label>
            <input name="precionoche" id="precionoche" type="text" placeholder="Precio por noche" ng-model="data.price" value="{{data.price}}€" required>
            <span class="cd-error-message" ng-show="formcasa.precionoche.$error.required && (formcasa.precionoche.$dirty || formcasa.precionoche.$touched)">El precio es requerido</span>
        </p>
        
    </div>
    <div id="datospropietario">
        <p>
            <label for="nombrePropietario" class="update">Nombre del Propietario</label>
            <input name="nombrePropietario" id="nombrePropietario" type="text" placeholder="nombre del propietario" ng-model="data.proname" value="{{data.proname}}" readonly required/>
        </p>
        <p>
            <label for="dni" class="update">DNI del Propietario</label>
            <input name="dni" id="dni" type="text" placeholder="DNI" ng-model="data.dni" value="{{data.dni}}" required>
            <span class="cd-error-message" ng-show="formcasa.dni.$error.required && (formcasa.dni.$dirty || formcasa.dni.$touched)">El dni es requerido</span>
        </p>
        <p>
            <label for="email" class="update">Email del Propietario</label>
            <input name="email" id="email" type="text" placeholder="email" ng-model="data.email" value="{{data.email}}" required>
            <span class="cd-error-message" ng-show="formcasa.email.$error.required && (formcasa.email.$dirty || formcasa.email.$touched)">El email es requerido</span>
        </p>
        <p>
            <label for="telefono" class="update">Teléfono del propietario</label>
            <input name="telefono" id="telefono" type="text" placeholder="telefono" value="{{data.tf}}" required>
            <span class="cd-error-message" ng-show="formcasa.telefono.$error.required && (formcasa.telefono.$dirty || formcasa.telefono.$touched)">El teléfono es requerido</span>
        </p>
    </div>
    <div id="carac">
        <div class="medio">
            <p>
                <label for="capacidad" class="update">Capacidad Total</label>
                <input name="capacidad" id="capacidad"" type="text"  placeholder="capacidad" ng-model="data.capacity" value="{{data.capacity}}" required>
                <span class="cd-error-message" ng-show="formcasa.capacidad.$error.required && (formcasa.capacidad.$dirty || formcasa.capacidad.$touched)">La capacidad es requerida</span>
            </p>
            <p>
                <label for="habitaciones" class="update">Num de Habitaciones</label>
                <input name="habitaciones" id="habitaciones"" type="text" placeholder="habitaciones" ng-model="data.rooms" value="{{data.rooms}}" required>
                <span class="cd-error-message" ng-show="formcasa.habitaciones.$error.required && (formcasa.habitaciones.$dirty || formcasa.habitaciones.$touched)">Este campo es requerido</span>
            </p>
            <p class="inputupdate"><label class="update">Reserva Completa:</label>	
                <span> Si <input name="comp" type="radio" value="si" ng-model="data.comp"></span>
                <span> No <input name="comp" type="radio" value="no" ng-model="data.comp"></span>
                <span class="cd-error-message" ng-show="formcasa.comp.$error.required && (formcasa.comp.$dirty || formcasa.comp.$touched)">Este campo es requerido</span>
            </p>
           
        </div>
        <div class="medio">
            <p>
                <label for="fechaAlta" class="update">Fecha de Construcción</label> 
                <md-datepicker ng-model="data.datecons" md-placeholder="{{data.datecons}}"></md-datepicker>
            </p>
            <p>
                <label for="fechaAlta" class="update">Fecha de Registro</label> 
                <md-datepicker ng-model="data.dateregister" md-placeholder="{{data.dateregister}}" name="alta" required></md-datepicker>
                <span class="cd-error-message" ng-show="formcasa.alta.$error.required && (formcasa.alta.$dirty || formcasa.alta.$touched)">Este campo es requerido</span>
           </p>
           
        </div>
        <p class="chec"><label>Servicios:</label>	
            
            <span>Comidas<input type="checkbox" ng-model="data.services.comidas" name="servicios" value="comidas"></span>
            <span>Piscina <input type="checkbox" ng-model="data.services.piscina" name="servicios" value="piscina"></span>
            <span>Gimnasio  <input type="checkbox"  ng-model="data.services.gimnasio" name="servicios" value="gimnasio"></span>
            <span>Masajes<input type="checkbox" ng-model="data.services.masajes" name="servicios" value="masajes"></span>
            <span>Hidromasaje<input type="checkbox" ng-model="data.services.hidromasaje" name="servicios" value="hidromasaje"></span>
            <span>Acepta Mascotas<input type="checkbox" ng-model="data.services.mascotas" name="servicios" value="mascotas"></span>
        </p>
        <p class="chec"><label>Actividades:</label>	
            <span>Yoga <input type="checkbox" ng-checked="data.activities.yoga" ng-model="data.activities.yoga" name="actividades" value="yoga"></span>
            <span>Meditacion<input type="checkbox" ng-model="data.activities.meditacion" name="actividades" value="meditacion"></span>
            <span>Tai chi<input type="checkbox" name="actividades" ng-model="data.activities.taichi" value="tai chi"></span>
            <span>Senderismo<input type="checkbox" name="actividades" ng-model="data.activities.senderismo" value="senderismo"></span>
        </p>
        </div>
        <p class="fieldset">
            <button type="submit"  id="formcasabutton" class="full-width" ng-disabled="formcasa.$invalid" ng-click="updatehome()" ng-class="{'disabled-class': formcasa.$invalid}">Actualizar</button>
        </p>
    </form>
    </div>
    </div>
    </div>