<div id="contenido" class="content">
    <div class="container_12">
        <div class="grid_12">   

            <h2 class="flex1"> Carrito de Reservas </h2>
            <div></div>
            <div id="tablecart">
                <div id="cart_wrapper" class="dataTables_wrapper no-footer">
                 <table id="cart" class="dataTable no-footer" role="grid">
                    <thead>
                        <tr role="row">
                            <td><b>Nombre</b></th> 
                            <td><b>Precio</b></th>
                            <td><b>Noches</b></th>
                            <td><b>Total</b></th>  
                            <td><b>Eliminar</b></th> 
                        </tr>
                    </thead>
                    <tbody id="cartBody">
                            <tr dir-paginate="res in reserves | itemsPerPage:6 as filtered">
                                    <td>{{res.nombre}}</td>
                                    <td>{{res.precio}}</td>
                                    <td><a style="margin:10%" ng-click="onemore(res.nombre)"><i class="fas fa-plus"></i></a>{{res.cantidad}}<a style="margin:10%" ng-click="oneless(res.nombre)"><i class="fas fa-minus"></i></a></td>
                                    <td ng-model="data.preciotot1">{{res.total}}</td>
                                    <td><a ng-click="deleteres(res.nombre)"><i class='fas fa-check'></i></a></td>
                            </tr>
                            <td colspan="5"> <p style="text-align:center, font-size=20px;">{{cartempty}}</p></th>
                    </tbody>
                    <tfoot><td></td><td></td><td></td><td></td><td ><b>Total:   <span>{{pricetotalfinal}}</span>€</b></td>
                    <tr ng-show="desc"><td></td><td></td><td></td><td><b>-10%</b></td><td ><b>Total:   <span>{{pricetotalfinaldes}}</span>€</b></td></tr></tfoot>
                    </table>
                  </div> 
                
            </div>
            <div><p style="text-align:center" id="btnscart"><a class="btn" href="#shop">Reservar más casas</a><a ng-click="comprar()" class="btn" ng-show="confirmres">Confirmar Reservas</a></p></div>
        </div>
    </div>
</div>