<div class="menu_block" ng-controller="menuCtrler">
    <div class="container_12">
        <div class="grid_12">
            <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                <ul class="sf-menu">
                    <li><a href="#/">{{"inicio" | translate}}</a></li>	
                    <li ng-show="crud"><a href="#CRUD">CRUD</a></li>							
                    <li><a href="#tienda" id="btnshop">{{"tienda" | translate}}</a></li>
                    <li><a href="#contacto">{{"contacto" | translate}}</a></li>
                    <li ng-show="login" href="#login" ng-click="dialogLogin()"><a class="main-nav">{{"login" | translate}}</a></li>
                    <li><a href="#cart"><i class="fa fa-shopping-cart"><span>0</span></i></a></li>
                    <li ng-show="profile" uib-dropdown on-toggle="toggled(open)"><a uib-dropdown-toggle id="menuprofile"> {{user}} <img src="{{avatar}}" id="avatar"></a>
                        <ul id="submenu" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                            <li><a href="#profile" id="btnprofile">{{"perfil" | translate}}</a></li>
                            <li ng-click="logout()"><a id="btnlogout">Salir</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
    </div>
</div>