<div id="contenido" class="content">
    <div class="container_12">
        <div class="grid_12">            
            
        <br>Ordenadas por provincia, localidad y capacidad</br>
       
            <div id="inicio" infinite-scroll='loadMore()' infinite-scroll-distance='0'>
                        <div class="grid" ng-repeat='home in homes'>
                            <div class="text1 flex">{{home.nombre}}<a class="corazon"><i ng-click="addfavorites(home.nombre)" id="{{home.nombre}}" class='far fa-heart'></i></a></div>
                                 <br>Localidad: {{home.localidad}}</br>
                                <br id="jolo">Provincia: {{home.provincia}}</br>
                                <br>Capacidad:  {{home.capacidad}}</br>
                                <br>Precio Noche:  {{home.precionoche}}</br>
                                </br></br>
                                <div style="text-align:center"><a  class='read' ng-click="dialog(home.nombre)"  id="{{home.nombre}}">READ MORE</a></div>&nbsp;
                        </div>
            </div>
            <div class='load' ng-show='loading'><img src='frontend/assets/img/Ellipsis-1s-91px.gif'></div>
            <div ng-include='"frontend/components/apis/clubrural/view/clubrural.view.html"'>
               
            </div>
    	</div>
    </div>
</div>

