<div id="contenido" class="content">
    <div class="container_12">
            <h2>Tus hoteles en:  <span>{{ubicacion}}</span></h2>
        
            <div class="flexmap"> 
                <div id="mapa_ubi"></div>

                <div id="listing">
                    <table id="resultsTable">
                        <tbody id="results"></tbody>
                    </table>
                </div>

                <div style="display: none">
                    <div id="info-content">
                            <div> 
                                    <div class="text1 flex">{{place.nombre}}<a class="corazon" id="{{place.nombre}}"><i class="far fa-heart" ></i></a></div>
                                    <br><span>Localidad:   <span id="localidad">{{place.localidad}}</span></span></br>
                                    <br><span>Provincia:   <span id="prov">{{place.provincia}}</span></span></br>
                                    <br><span>Capacidad Total:     <span id="capacidad">{{place.capacidad}}</span></span></br>
                                    <div>
                                    <a  class="read" ng-click="dialog(place.nombre)" id="{{place.nombre}}">READ MORE</a>
                                    </div>
                            </div>
                        
                    </div>
                </div>
            </div>
    </div>
</div>


<!-- modal window -->
<!-- <section id="home_modal">
    <div id="details_home" hidden>
        <div id="details">
            <div id="container">
                <div class="grid2">
                    <div class="text1"><span id="nombre"></span></div> 
                    <div class="flex2" id="modalcontent">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
   
</section> -->
