<div id="contenido" class="content">
    <div class="container_12">
            <h2>Tus hoteles en: <span id="h2local"></span></h2>
        
            <div class="flexmap"> 
                <div id="mapa_ubi"></div>

                <div id="listing">
                    <table id="resultsTable">
                        <tbody id="results"></tbody>
                    </table>
                </div>

                <div style="display: none">
                    <div id="info-content">
                        
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- modal window -->
<section id="home_modal">
    <div id="details_home" hidden>
        <div id="details">
            <div id="container">
                <div class="grid2">
                    <div class="text1"><span id="nombre"></span></div> 
                    <div class="flex2" id="modalcontent">
                        <!-- Content -->
                    </div>
                </div>
            </div>
            
        </div>
    </div>
   
</section>
<?php include('module/login/view/login.html') ?>

