
<form class="search" ng-controller="searchCtrler"  ng-model="busqueda" ng-init="getProvis()" name='search'>
    <select id="drop1" ng-model="selectedProvi" ng-change='fetchlocal()' ng-options = "provincia as provincia.provincia for provincia in provinces">
        <option value="">{{"selecciona provincia" | translate}}</option>
    </select>

    <select id="drop2" ng-model="selectedLocal" ng-change='fetchhomes()' ng-options = "localidad as localidad.localidad for localidad in local">
        <option value="">{{"selecciona municipio" | translate}}</option>
    </select>
    
    <div class="autocomplete"> 
        <!-- <input id="autocom" type="text" ng-model="selectedhome" placeholder="" value=""
        typeahead="home as home.nombre for home in homes | filter:$viewValue | limitTo:10" 
        typeahead-min-length='1' 
        typeahead-on-select=';' 
        peahead-editable="false"
        class="form-control">  -->
        <input type="text" ng-model="selectedhome" uib-typeahead="home as home.nombre for home in homes | filter:$viewValue | limitTo:10" class="form-control"> 
    </div>	
    
    <div ><a id="searchlist" ng-click="searchresults()"  ng-disabled="selectedProvi===undefined">{{"buscar" | translate}}</a></div>   
</form>