<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span bind-html-unsafe="match.model | typeaheadHighlight:query"></span>
        <i>{{match.model.nombre}}</i>
    </a>
  </script>
<form class="search" ng-controller="searchCtrler"  ng-model="busqueda" ng-init="getProvis()">
    <select id="drop1" ng-model="selectedProvi" ng-change='fetchlocal()' ng-options = "provincia as provincia.provincia for provincia in provinces">
        <option value="">Selecciona provincia</option>
    </select>

    <select id="drop2" ng-model="selectedLocal" ng-change='fetchhomes()' ng-options = "localidad as localidad.localidad for localidad in local">
        <option value="">Selecciona Municipio</option>
    </select>
    
    <div class="autocomplete"> 
        <!-- <div id="optionsauto">
                    </div> --> 
        <input id="autocom" type="text" ng-model="selectedhome" placeholder="Casa" value="{{home.nombre}}"
        typeahead="home as home.nombre for home in homes | filter:$viewValue | limitTo:10" 
        typeahead-min-length='1' 
        typeahead-on-select='onSelect(home.nombre)' 
        class="form-control">  
    </div>	
    
    <div ><a id="searchlist" ng-click="searchresults()">BUSCAR</a></div>   
</form>