<div id="contenido" class="content">
    <div class="container_12">
        <div class="flex3">
			<div id="mapa"></div>
            <div class="contact">
                    <h2>Donde estamos:</h2>
                    <div id="map"></div>
            </div>
            <div class="contact">
					<h2>Contacto:</h2>
					<form id="form" name="form">
						<label class="name">
							<input type="text" placeholder="Name:" name="name" id="con_name" />
							<span class="cd-error-message"></span>
						</label>
						<label class="email">
							<input type="text" placeholder="E-mail:" name="email" id="con_email"/>
							<span class="cd-error-message"></span>

						</label>
						
						<label class="select">
							<select  name="opcontact" id="opcontact" id="con_options">
								<option disabled selected>Selecciona una opción</option>
								<option>Casas</option>
								<option>Reservas</option>
								<option>Propietarios</option>
								<option>Sugerencias</option>
								<option>Otros</option>
							</select>
							<span id="e_select" class="cd-error-message"></span>							
						</label>
						<label class="message">
							<textarea placeholder="Message:" name="mess" id="con_mess"></textarea>
							<span class="cd-error-message"></span>							
						</label>
						
						<p class="contactbtn">
								<button type="reset" class="btn">BORRAR</button>
								<button type="submit" class="btn">ENVIAR</button>
						</p>
                    </form>
                    
    
            </div><!--div formulario -->
            
            </div><!--flex -->
        </div><!--container12 -->
 </div> <!--primer -->
 <!-- <?php include('module/login/view/login.html') ?> -->